body {
  background-color: rgb(87, 114, 132);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: 549;
  font-size: 18px;
}

H1 {
  box-shadow: 5px 5px rgba(145, 168, 208, 0.152),
    10px 10px rgba(145, 168, 208, 0.152), 15px 15px rgba(145, 168, 208, 0.064);
  font-size: 58px;
  text-align: center;
  background-color: rgb(145, 168, 208);
  text-shadow: ;
  border-radius: 15px;
}
h2 {
  font-size: 38px;
  text-align: center;
  /*border-radius: 100px;
  border: 5px solid rgba(145, 168, 208, 0.515);
  box-shadow: 5px 5px rgba(145, 168, 208, 0.077),
    10px 10px rgba(145, 168, 208, 0.071), 15px 15px rgba(145, 168, 208, 0.027);*/
}
H3 {
  text-decoration: none;
  background-color: rgb(145, 168, 208);
  font-size: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(145, 168, 208, 0.077),
    10px 10px rgba(145, 168, 208, 0.071), 15px 15px rgba(145, 168, 208, 0.027);
}

footer {
  background-color: rgba(145, 168, 208, 0.507);
  text-align: center;
  font-size: 25px;
  border-radius: 15px;
  padding-right: 150px;
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 5px 5px rgba(145, 168, 208, 0.077),
    10px 10px rgba(145, 168, 208, 0.071), 15px 15px rgba(145, 168, 208, 0.027);
}

ul {
  margin-left: 100px;
  border-radius: 10px;
}
ol {
  margin-left: 100px;
  background-color: rgba(149, 222, 227, 0.204);
  border-radius: 10px;
  box-shadow: 5px 5px rgba(145, 168, 208, 0.077),
    10px 10px rgba(145, 168, 208, 0.071), 15px 15px rgba(145, 168, 208, 0.027);
}

a {
  color: lightcyan;
  font-weight: 550;
  text-shadow: #3333336e 4px 4px 8px;
}

a:link {
  color: lightcyan;
  text-decoration: none;
}

a:hover {
  color: rgb(153, 243, 250);
  font-weight: bold;
  text-decoration: underline rgb(87, 163, 167);
  transition-duration: 0.7s;
  text-shadow: #333333d5 4px 4px 8px;
}

a:active {
  background-color: rgba(145, 205, 212, 0.459);
  font-style: none;
  transition-duration: 0.4s;
}

#ME {
  border-radius: 50%;
  border: 5px solid;
  border-color: antiquewhite;
  /*box-shadow: 5px 5px antiquewhite, 10px 10px rgba(145, 168, 208, 0.071),
    15px 15px rgba(145, 168, 208, 0.027);*/
  box-shadow: 5px 5px 8px rgba(145, 168, 208, 0.077),
    10px 10px 8px rgba(145, 168, 208, 0.071),
    15px 15px 8px rgba(145, 168, 208, 0.027);
}

.info {
  width: 370px;
  border: 5px solid rgba(145, 168, 208, 0.507);
  padding: 5px;
  margin: 2px;
  background-color: rgba(87, 140, 169, 0.451);
  box-shadow: 5px 5px 8px rgba(145, 168, 208, 0.077),
    10px 10px 8px rgba(145, 168, 208, 0.071),
    15px 15px 8px rgba(145, 168, 208, 0.027);
  border-radius: 10px;
}
.info2 {
  width: 370px;
  border: 5px solid rgba(145, 168, 208, 0.507);
  padding: 5px;
  margin: 2px;
  position: relative= 100px;
  background-color: rgba(87, 140, 169, 0.505);
  box-shadow: 5px 5px 8px rgba(145, 168, 208, 0.077),
    10px 10px 8px rgba(145, 168, 208, 0.071),
    15px 15px 8px rgba(145, 168, 208, 0.027);
  border-radius: 10px;
}

.top12 {
  margin: 83px;
}

.top34 {
  margin: 190px;
  margin-right: 90px;
}

.Cat {
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 8px;
}

.box4 {
  margin-bottom: 110px;
}

/*
   .cat:hover {
    
   }
  b
   .linkedin{
  ;
   }

  }

  
a {
  padding: 100px;
  /*border: 5px solid rgba(12, 62, 70, 0.478);/*
}
/*
nav a:link {
  font-size: 66px;
}*/
