body {
  background-color: rgb(87, 114, 132);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: 550;
  font-size: 18px;
}

H1 {
  font-size: 58px;
  text-align: center;
  background-color: rgb(145, 168, 208);
  text-shadow: ;
}
h2 {
  font-size: 38px;
  text-align: center;
}
H3 {
  text-decoration: underline;
  background-color: rgb(145, 168, 208);
}

footer {
  background-color: rgba(145, 168, 208, 0.507);
  text-align: center;
  font-size: 25px;
}

ul{
  margin-left: 100px;
}
ol{
  margin-left: 100px;
}

a:link {
  color: rgb(240, 237, 229);
  text-decoration: none;
}

a:visited {
  color: rgb(240, 237, 229);
}

a:hover {
  color: rgb(58, 180, 159);
  font-weight: bold;
  text-decoration: underline rgb(65, 128, 134);
}

a:active {
  background-color: rgba(20, 36, 88, 0.474);
  font-style: italic;
}
#ME {
  border-radius: 50%;
}

a {
  padding: 100px;
  /*border: 5px solid rgba(12, 62, 70, 0.478);/*
}
/*
nav a:link {
  font-size: 66px;
}*/
